.card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.03);
    border-radius: 6px;
    width: 235px;
    height: 420px;
    color: #747474;
    margin: 20px;
    box-shadow: 0 0px 30px 0 rgba(0,0,0,.1);
    background-color: white;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.picture {
    width: 100%;
    height: 300px;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}
.title {
    margin:5px ;
}
.date {
    margin:5px ;
}
.rating {
    margin:5px ;
}
button {
    font-size: 100px;
}